/* fonts for website */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: "normal";
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: "normal";
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: "normal";
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}
html, body {
  height: 100%;
}
::selection {
  /* consider changing based on light or dark tag on <body> */
  background-color: #ffd987;
}
tt {
  font-family: monospace;
}

.items ul {
  text-align: center;
  font-family: "Roboto Slab", serif;
}
.items li {
  display: inline;
  font-family: "Roboto Slab", serif;
}
.items li + li:before {
  content: " // ";
}
.items li a {
  color: black;
  font-family: "Roboto Slab", serif;
}

/* extra styling points! */
.code {
  color: black;
  font-family: monospace;
  background-color: #cee1ff;
  border-radius: 2px;
  padding: 2px;
  text-decoration: none;
}
