/* this website's design was originally based on Caltech's Avery House, but for
   obvious reasons, I'm not feeling a lot of love for Caltech right now
   so I'm going to design it based on the MIT Admissions website
   hopefully this won't jinx we for Pi Day... */

.page-body {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

/** PAGE HEADER BAR **/
.page-body header {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
}
.page-body header hr {
  height: 5px;
  background-image: linear-gradient(90deg, #1b9185, #aadd5d);
}

/** NAVIGATION BAR **/
.page-body nav {
  display: flow-root;
  padding-top: 10px;
  margin-bottom: 20px;
}
.page-body nav span {
  float: left;
  color: gray;
  font-size: 300%;
  font-weight: 100;
}
.page-body nav br {
  font-size: 300%;
  display: none;
}
.page-body nav ul {
  float: right;
  padding: 5px 0;
  color: gray;
}
.page-body nav li {
  display: inline;
  font-family: "Roboto", sans-serif;
}
.page-body nav li + li:before {
  content: " // ";
}
.page-body nav a {
  color: gray;
  text-decoration: none;
}
.page-body nav a:hover {
  text-decoration: underline;
}

/** CONTENT STYLING **/
.page-body hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(90deg, #f49542, #bc254d);
}
.page-body a {
  color: black;
  font-family: inherit;
}
.page-body :not(tt) {
  font-family: "Roboto", sans-serif;
}
.page-body .code {
  font-family: monospace;
}
.page-body p {
  padding: 5px 0;
}
.page-body main li {
  list-style-position: outside;
  margin-inline-start: 1.5em;
}
.page-body main {
  padding-top: 10px;
  line-height: 1.5em;
}

/* add some padding so things don't look quished on narrow screens */
@media (max-width: 740px) {
  .page-body {
    padding: 20px;
  }
  .page-body main li {
    list-style-position: inside;
    margin-inline-start: 0;
  }
  .page-body nav {
    text-align: center;
  }
  .page-body nav br {
    display: inline;
  }
  .page-body nav span {
    float: none;
    display: inline;
    padding: 0;
  }
  .page-body nav ul {
    float: none;
    position: relative;
    top: -10px;
  }
}
